
body {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 0;
  margin: 0;
}

.core-supplements-header {
  background-color: rgba(4, 63, 139, 0.752);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.core-supplements-header-left-section {
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: center;
}

.logo-pic {
  flex-shrink: 0;
  width: 12%;
  background-color: transparent;
  margin-right: 20px;
  margin-left: 50px;
}

@media (max-width: 800px) {
  .core-supplements-header-left-section {
    display: flex;
    flex-direction: row;
    width: unset;
  }

  .core-supplements-header {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 60px;

  }
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  
}

.header-link:hover {
  border: 1px solid white;
}

.core-supplements-logo {
  width: 200px;
  margin-top: 5px;
}

@media (max-width: 575px) {
  .logo-pic {
    width: 50px;
    margin: 0;
    padding: 5px;
  }

  .spcl-header-txt {
    display: flex;
    font-size: 15px;
    width: 150px;
    font-weight: 600;
  }

  .core-supplements-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }

  .read-more-btn {
    display: none;
  }
}

.core-supplements-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 800px) {
  .search-bar , .search-button {
    display: none;
  }
  .core-supplements-header-right-section {
  display: flex;
  position: absolute;
  left: 200px;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-shrink: 1;
  gap: 5px;
}
}
.orders-link :hover {
  color: antiquewhite;
}

.search-button {
  background-color: red;
  border: none;
  width: 45px;
  height: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.core-supplements-header-right-section {
  justify-content: center;
  width: 280px;
  flex-shrink: 0;
  display: flex;
  gap: 20px;
}

.orders-link {
  color: rgb(4, 4, 6);

}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
  
}

.cart-quantity {
  color: rgb(159, 202, 240);
  font-size: 16px;
  font-weight: 900;

  position: absolute;
  top: 4px;
  left: 22px;
  
  width: 26px;
  text-align: center;

  color: rgb(6, 6, 27);
}

.introContainer {
  background-color: rgba(0, 0, 0, 0.268);
  margin-top: 60px;
}

.intro-pic {
  width: 100%;
  margin-bottom: 0;
}

.spclTxt {
  color: gold;
}

.fundamentals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(2, 2, 13);
  color: antiquewhite;
  padding: 50px;
  gap: 50px;
  font-size: larger;
  text-align: center;
}

.john {
  width: 50%;
  height: 300px;
  border-radius: 20px;
}

.john2 {
  width: 80%;
  height: 300px;
  border-radius: 20px;
  border: black solid 1px;
}

.ad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.658);
}

.ad {
  border: 1px solid black;
  margin: 10px;
  height: 390px;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.255);
}

.ad-pic {
width: 100%;
height: 300px;
justify-content: center;
}
.fundamentals2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(201, 233, 242);
  color: black;
  padding: 50px;
  gap: 50px;
  font-size: larger;
  text-align: center;
}
@media (max-width: 850px) {
  .intro-header {
    font-size: large;
  }

  .fundamentals2 {
    display: block;
    align-items: start;
    justify-items: space-evenly;
    margin-inline-start: auto;
  }
  .ad-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     }

  .john , .john2 {
    width: 90%;
    height: 90%;
    border-radius: 10px;
  }

  .ad-pic {
    width: 100%;
    height: 80%;
  }
  .ad {
    width: 80%;
    height: 80%;
    margin: 30px;
  }

  .deep-txt {
    font-size: small;
  }
  
}

  .read-more-btn {
    background-color: transparent;
    color: rgb(4, 10, 13);
    font-weight: 600;
    border-radius: 10px;
  }

   .footer-txt {
    padding-top: 40px;
    font-style: italic;
  }

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(5, 5, 13, 0.798);
  width: 100%;
  height: 100px;
  color: antiquewhite;
}
